<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    {% do assets.addCss('theme://css/bootstrap.min.css',100) %}

    <!-- Custom CSS -->
    {% do assets.addCss('theme://css/main.css',100) %}
    {% do assets.addCss('theme://css/tuto.css',100) %}
    {% do assets.addCss('theme://css/grayscale.css',100) %}
    <!-- Ajout JS -->
        {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/jquery.treemenu.js')%}
        {% do assets.addJs('theme://js/site.js')%}
    {% endblock %}
    {{ assets.js() }}



    <!-- Custom Fonts -->
    {% do assets.addCss('theme://css/font-awesome/css/font-awesome.min.css',100) %}
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    {% endblock %}
    {{ assets.css() }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% endblock head%}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<!-- Navigation -->
  {% block header_navigation %}
<nav class="dropmenu animated navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
        <div class="navbar-header row">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#home">
                <img class="logo" src="/user/themes/grayscale/img/logo.jpg"></img>
            </a>
            <a class="navbar-brand page-scroll" href="#page-top">
                
            </a>
               {% include 'partials/navigation.html.twig' %}
  {% endblock %}
        </div>
      
      
</nav>
<wrapper class="container-fluid">
<main class="row">
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
</main>
</wrapper>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block javascripts_bottom %}

    <!-- jQuery -->
      {% do assets.add('jquery',101) %}

      <!-- Bootstrap Core JavaScript -->
      {% do assets.addJs('theme://js/bootstrap.min.js',100) %}

      <!-- Plugin JavaScript -->
      {% do assets.addJs('theme://js/jquery.easing.min.js') %}

      <!-- Custom Theme JavaScript -->
      {% do assets.addJs('theme://js/grayscale.js') %}
    {% endblock %}
  {{ assets.js() }}

</body>

</html>
